body {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgba(39, 39, 90, 0.74);
  text-align: center;
}

input,
button {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

table {
  margin: auto;
}
